<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTest"
        tools:targetApi="31">
        <activity
            android:name=".resource.ResourceActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.recyclerview.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.gridview.GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.listview.SpinnerViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.listview.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.tabs.TabsActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.drawer.DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.UserInterfaceActivity"
            android:exported="false" />
        <activity
            android:name=".TaskandBackStack.ThreeActivity"
            android:exported="false" />
        <activity
            android:name=".TaskandBackStack.TwoActivity"
            android:exported="false" />
        <activity
            android:name=".TaskandBackStack.OneActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".TaskandBackStack.TaskandBackStackActivity"
            android:exported="false" />
        <activity
            android:name=".intent.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".broadcast.BroadcastActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.BroadcastActivity$AirplaneModeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>